In [2]:
#tuples
#creting a tuple using()
t=(1,2,3,4,5)#tuple is immutable
print(t[0])
#cannot update the value of tuple
t[0]=34

1

TypeError: 'tuple' object does not support item assignment

In [3]:
t=() #empty tuple
t1=(1) #wrong way to declare a tuple with single element
print(t1[0])

TypeError: 'int' object is not subscriptable

In [4]:
t1=(1,) #tuple with single element
print(t1[0])

1

In [6]:
t=(1,2,3,4,5,1,2,1)
print(t.index(1)) #give index of first occurence

0

In [9]:
f1=input("fruit 1:")
f2=input("fruit 2:")
f3=input("fruit 3:")
f4=input("fruit 4:")
f5=input("fruit 5:")
f6=input("fruit 6:")
f7=input("fruit 7:")

myfruitlist=[f1,f2,f3,f4,f5,f6,f7]
print(myfruitlist)

print(type(myfruitlist))

fruit 1:a
fruit 2:s
fruit 3:d
fruit 4:f
fruit 5:g
fruit 6:h
fruit 7:j
['a', 's', 'd', 'f', 'g', 'h', 'j']
<class 'list'>

In [11]:
marks1=int(input("enter the marks of student 1: "))
marks2=int(input("enter the marks of student 2: "))
marks3=int(input("enter the marks of student 3: "))
marks4=int(input("enter the marks of student 4: "))
marks5=int(input("enter the marks of student 5: "))
marks6=int(input("enter the marks of student 6: "))

markslist=[marks1,marks2,marks3,marks4,marks5,marks6]
markslist.sort()
print(markslist)

enter the marks of student 1: 1
enter the marks of student 2: 5
enter the marks of student 3: 6
enter the marks of student 4: 2
enter the marks of student 5: 3
enter the marks of student 6: 4
[1, 2, 3, 4, 5, 6]

In [12]:
num1=int(input("enter num 1: "))
num2=int(input("enter num 2: "))
num3=int(input("enter num 3: "))
num4=int(input("enter num 4: "))

mylist=[num1,num2,num3,num4]
sum(mylist)

enter num 1: 1
enter num 2: 2
enter num 3: 4
enter num 4: 5

12

In [16]:
a=[1,2,3,4]
print(a[0]+a[2]+a[3]+a[1])
sum(a)

10

10

In [13]:
#dictionary is unordered
#it is mutable
#it is indexed
#there will not be any duplicate key
mydict={"fast":"in a quick manner",
       "harry":"a coder",
       "marks":[1,3,4],
       "anotherdict":{'harry':'player'},
        1:2
       }

print(mydict.keys()) #keys will be in the form of list
print(type(mydict.keys())) #by default type is dict-keys
print(list(mydict.keys()))
print(mydict.values()) #print values
#items-it will return a tuple(a key-value pair)
print(mydict.items()) #print the (key,value) for all the items of dictionary
print(mydict)
updatedict={"vikrant":"friend",
           "sheetal":"friend"}
mydict.update(updatedict) #update dictionary by adding key value pair with update dict
print(mydict)

print(mydict.get("harry"))
#print(mydict["harry"])--it will also give same result
#.get method will return NONE when key is not present in the dictionary 
#but print(mydict["harry"]) it will return error if key is not present.

dict_keys(['fast', 'harry', 'marks', 'anotherdict', 1])
<class 'dict_keys'>
['fast', 'harry', 'marks', 'anotherdict', 1]
dict_values(['in a quick manner', 'a coder', [1, 3, 4], {'harry': 'player'}, 2])
dict_items([('fast', 'in a quick manner'), ('harry', 'a coder'), ('marks', [1, 3, 4]), ('anotherdict', {'harry': 'player'}), (1, 2)])
{'fast': 'in a quick manner', 'harry': 'a coder', 'marks': [1, 3, 4], 'anotherdict': {'harry': 'player'}, 1: 2}
{'fast': 'in a quick manner', 'harry': 'a coder', 'marks': [1, 3, 4], 'anotherdict': {'harry': 'player'}, 1: 2, 'vikrant': 'friend', 'sheetal': 'friend'}
a coder

In [2]:
#sets in python-it is a collection of non repititive items
a={1,2,3,4,2,3,4}
print(a) #sets does not contain repetitive items
print(type(a))

#empty set

a={}
print(type(a)) #it is create an empty dictionary not an empty set

#an empty set can be created using the below syntex
b=set()
print(type(b))
b.add(4)
b.add(5)
print(b)
#adding list
#b.add([1,2,3])
#print(b) #unhashable type 'list'
#tuple can be added bcoz it is hashable
#dict also cannnot add bcoz of dict is unhashable

{1, 2, 3, 4}
<class 'set'>
<class 'dict'>
<class 'set'>
{4, 5}

In [3]:
#properties of sets
#--sets are ordered
#--sets are unindexed
#--there is no way to change its items
#-cannot contain duplicate values
#methods of sets
print(b)
print(b)
b.add(2)
b.add(4)
b.add(5)
print(b)

print(len(b)) #printsd the lenth of this set
b.remove(5)#removes 5 from set
print(b)
b.add(8)
b.add(7)
print(b)
print(b.pop()) #pop out rendom values from the set

print(b.clear()) #clear the set and return none
print(b) #empty set

{4, 5}
{4, 5}
{2, 4, 5}
3
{2, 4}
{2, 4, 7, 8}
2
None
set()

In [42]:
#union and intersection 
a={1,2,3,4,5,6,7}
b={4,5,6,7,8,9,0}
print(a.union(b))
print(a.intersection(b))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6, 7}

In [5]:
#practice set
mydict={"pankha":"fan",
       "dabba":"box",
       "gilas":"glass",
       "kursi":"chair"
       }
print("options are",mydict.keys())
a=input("enter the hindi word:\n")
print("the meaning of the word is:",mydict.get(a))
# print("the meaning of the word is:",mydict[a])
#this method will throw an error if key is not present in the dict

options are dict_keys(['pankha', 'dabba', 'gilas', 'kursi'])
enter the hindi word:
jump
the meaning of the word is: None

In [45]:
mydict={"pankha":"fan",
       "dabba":"box",
       "gilas":"glass",
       "kursi":"chair"
       }
print("options are",mydict.keys())
a=input("enter the hindi word:\n")
print("the meaning of the word is:",mydict.get(a))
#this method(above line) wil not throw an error if key is not present

options are dict_keys(['pankha', 'dabba', 'gilas', 'kursi'])
enter the hindi word:
box
the meaning of the word is: None

In [47]:
s={18,"18"}
print(len(s))
print(s)

2
{18, '18'}

In [6]:
s=set()
print(len(s))
s.add(20)
s.add(20.0)
print(len(s))
print(s)

0
1
{20}

In [51]:
s={}
print(type(s)) #by default it is aan empty dict

<class 'dict'>

In [53]:
fevlang={}
a=input('enter your fev lang vikrant:\n')
b=input("enter your fev lang dinesh:\n")
c=input("enter your fev lang op:\n")
d=input("enter your fev lang prince:\n")
fevlang["vikrant"]=a
fevlang["dinesh"]=b
fevlang["op"]=c
fevlang["prince"]=d
print(fevlang)

enter your fev lang vikrant:
a
enter your fev lang dinesh:
d
enter your fev lang op:
r
enter your fev lang prince:
t
{'vikrant': 'a', 'dinesh': 'd', 'op': 'r', 'prince': 't'}

In [54]:
#if keys of two names are same
fevlang={}
a=input('enter your fev lang vikrant:\n')
b=input("enter your fev lang dinesh:\n")
c=input("enter your fev lang op:\n")
d=input("enter your fev lang prince:\n")
fevlang["vikrant"]=a
fevlang["dinesh"]=b
fevlang["vikrant"]=c
fevlang["prince"]=d
print(fevlang)

enter your fev lang vikrant:
w
enter your fev lang dinesh:
w
enter your fev lang op:
e
enter your fev lang prince:
d
{'vikrant': 'e', 'dinesh': 'w', 'prince': 'd'}

In [73]:
#conditional expressions
a=28
if(a<3):
    print("the value of a is>3")
elif(a<7):
    print("value>7")
elif(a>13):
    print("value>13")
elif(a>17):
    printf("value>17")
else:
    print("the value is not grater than 3 or 7")

value>13

In [75]:
a=28
if(a<3):
    print("the value of a is>3")
if(a<7):
    print("value>7")
if(a>13):
    print("value>13")
if(a>17):
    print("value>17")
else:
    print("the value is not grater than 3 or 7")

value>13
value>17

In [8]:
age=int(input("enter your age: "))
if age>=18:
    print("yes")
else:
    print("no")

enter your age: 15
no

In [10]:
#logical and relational operators
age=int(input("enter your age: "))
if(age>34 and age<56):
    print("You can work with us")
else:
    print("You cannot work with us")

enter your age: 57
You cannot work with us

In [13]:
age=int(input("enter your age: "))
if(age>34 or age<56):
    print("You can work with us")
else:
    print("You cannot work with us")

enter your age: 12
You can work with us

In [15]:
# in and is
a= None
if(a is None):
    print("yes")
else:
    print("no")

yes

In [2]:
a=[2,3,4]
print(type(a))
print(2 in a)
print(6 in a)

<class 'list'>
True
False

In [3]:
#practice set
a=int(input("Enter first number: "))
b=int(input("Enter second number: "))
c=int(input("Enter third number: "))
d=int(input("Enter fourth number: "))

if(a>d):
    f1=a
else:
    f1=d

if(b>c):
    f2=b
else:
    f2=c
    
if(f1>f2):
    print(str(f1)+" is greatest.")
else:
    print(str(f2)+" is greatest.")

Enter first number: 45
Enter second number: 46
Enter third number: 48
Enter fourth number: 49
49 is greatest.

In [15]:
sub1=int(input("Enter marks of subject num 1:\n "))
sub2=int(input("Enter marks of subject num 2:\n "))
sub3=int(input("Enter marks of subject num 3:\n"))
if(sub1<33 or sub2<33 or sub3<33):
    print("You are fail due to less than 33% marks in one or more subjects.")
    
elif (sub1+sub2+sub3)/3<40:
    print("You are fail due to less than 40%.")
    
else:
    print("You are passed.")

Enter marks of subject num 1:
 35
Enter marks of subject num 2:
 35
Enter marks of subject num 3:
35
Ypu are fail due to less than 40%.

In [21]:
text=input("Enter the text: ")

if ("make a lot of money" in text):
    spam=True
elif("buy now" in text):
    spam=True
elif("Click this" in text):
    spam=True
elif("subscribe this" in text):
    spam=True
else:
    spam=False

if(spam):
    print("This text is spam.")
else:
    print("This text is not spam.")

Enter the text: make money to click this
This text is not spam.

In [23]:
username=input("enter a uaername: ")
if len(username)>10:
    print("it contains more then 10 characters.")
else:
    print("it contains more then 10 characters.")

enter a uaername: vikrant yadav
it contains more then 10 characters.

In [26]:
names=["harry","shubham","rohan","sheetal","vikrant","opyadav"]
name=input("enter the name: ")

if name in names:
    print("Name is present in the list.")
else:
    print("List doesn't contain names:")

enter the name: opyadav
Name is present in the list.

In [3]:
marks=int(input(" Enter the marks: "))

if (marks<100 and marks>=90):
    print("grade is EX")
elif(marks<90 and marks>=80):
    print("Grade is A")
elif(marks<80 and marks>=70):
    print("Grade is B")
elif(marks<70 and marks>=60):
    print("Grade is C")
elif(marks<60 and marks>=50):
    print("Grade is D")
elif(marks<50):
    print("Grade is F")

 Enter the marks: 71
Grade is B

In [2]:
post=input("Write a string: ")

if 'harry' in post:
    print("harry is present.")
else:
    print("not present.")

Write a string: harry is a good boy
harry is present.

In [39]:
#loops
i=0
while i<10:
    print("Yes "+ str(i))
    i= i+1
    
print("done")

Yes 0
Yes 1
Yes 2
Yes 3
Yes 4
Yes 5
Yes 6
Yes 7
Yes 8
Yes 9
done

In [5]:
i=1
while i<=5:
    print(i)
    i=i+1
print("Done")

1
2
3
4
5
Done

In [43]:
i=0
while i<5:
    print("harry")
    i=i+1

harry
harry
harry
harry
harry

In [50]:
#content of a list using while loop
fruit=["a","b","c","d","e","f","g"]
i=0
while i<len(fruit):
    print(fruit[i])
    i=i+1

a
b
c
d
e
f
g

In [54]:
l=[1,2,3,4,5]
for items in l:
    print(items)

1
2
3
4
5

In [55]:
#range function in python-use to generate a sequence of numbers
for i in range(8):
    print(i) # print zero to n-1

0
1
2
3
4
5
6
7

In [56]:
for i in range(1,8):
    print(i) # it will start from 1

1
2
3
4
5
6
7

In [57]:
for i in range(2,8):
    print(i) #it will start from 2

2
3
4
5
6
7

In [58]:
for i in range(1,8,2):
    print(i) # step size is 2. starts from 1

1
3
5
7

In [59]:
#for loop with else
for i in range(10):
    print(i)
else:
    print("This is inside else of for.")

0
1
2
3
4
5
6
7
8
9
This is inside else of for.

In [60]:
for i in range(10):
    print(i)

print("This is inside else of for.")

0
1
2
3
4
5
6
7
8
9
This is inside else of for.

In [62]:
#break statement
for i in range(10):
    print(i)
    if i==5:
        break
else:
    print("This is inside else of for.")# it will execute on successful termination

0
1
2
3
4
5

In [68]:
#continue statement
for i in range(10):
    if i%2!=0:
        continue
    print(i)

0
2
4
6
8

In [69]:
i=4
if i>0:
    pass  #it is a null statement.it instruct to do nothing
print("do nothing")

do nothing

In [70]:
i=4
if i>0:
    pass#it is a null statement.it instruct to do nothing
while i>6:
    pass
print("do nothing")

do nothing

In [75]:
num1=int(input("Enter num 1: "))
num2=int(input("Enter num 2: "))
l1=["num1", "num2"]
for multiplication in l1:
    multiplication=num1*num2
    print(multiplication)

Enter num 1: 5
Enter num 2: 9
45
45

In [76]:
num=int(input("Enter num 1: "))
for i in range(1,11):
    print(str(num)+ "X" + str(i) + "=" +str(i*num))

Enter num 1: 5
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
5X10=50

In [77]:
#table by using f string
num=int(input("Enter num 1: "))
for i in range(1,11):
    print(f"{num}X{i}={num*i}")

Enter num 1: 5
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
5X10=50

In [83]:
#write table using while loop
num=int(input("Enter num 1: "))
i=1
while i<11:
    print(str(num) + "X" + str(i)+ "=" + str(num*i))
    i=i+1

Enter num 1: 5
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
5X10=50

In [80]:
l1=["vikrant","sachin","shivam","punnu","abhishek","shivkant"]

for name in l1:
    if name.startswith("s"):
        print("hello " + name)

hello sachin
hello shivam
hello shivkant

In [88]:
#print given number is prime or not
num=int(input("Enter num: "))
prime=True
for i in range(2,num):
    if (num%i ==0):
        prime=False
        break
if prime:
    print("This number is prime.")
else:
    print("This number is not prime.")

Enter num: 23
This number is prime.

In [111]:
#program to find the sum of n natural numbers
num=int(input("Enter the num: "))
i=0
while i<(num):
    sum=num*(num+1)/2
    i=i+1
print(f"the sum of n numbers is {sum}")

Enter the num: 5
the sum of n numbers is 15.0

In [112]:
#factorial of the given number
num=int(input("Enter the num: "))
factorial=1
for i in range(1,num+1):
    factorial=factorial*i
print(f"the factorial of {num} is {factorial}")

Enter the num: 5
the factorial of 5 is 120

In [116]:
#pattern printing
num=4
for i in range(4):
    print("*"*(i+1))

*
**
***
****

In [18]:
#pattern printing
n=4
for i in range(4):
    print(" "*(n-i-1),end=" " )
    print("*"*(2*i+1), end=" ")
    print(" "*(n-i-1))

    *
   ***
  *****
 *******

In [128]:
n=3
for i in range(3):
    print("*"*3)

***
***
***

In [156]:
#print multiplication table inreverse order
num=int(input("Enter num 1: "))
for i in range(10,0,-1):
    print(f"{num}X{i}={num*i}")

Enter num 1: 5
5X10=50
5X9=45
5X8=40
5X7=35
5X6=30
5X5=25
5X4=20
5X3=15
5X2=10
5X1=5

In [2]:
#functions and recursions
#functions-is a group of statements performing a specific task.
marks=[50, 55, 56, 59]
percentage1=(sum(marks)/400)*100
marks2=[45, 55, 47, 68]
percentage2=(sum(marks2)/400)*100
print(percentage1,percentage2)

55.00000000000001 53.75

In [3]:
def percent(marks):
    return ((sum(marks)/400)*100)
marks=[50, 55, 56, 59]
percentage1=percent(marks)
marks2=[45, 55, 47, 68]
percentage2=percent(marks2)
print(percentage1,percentage2)

55.00000000000001 53.75

In [4]:
def percent(marks):
    p=((sum(marks)/400)*100)
    return p
marks=[50, 55, 56, 59]
percentage1=percent(marks)
marks2=[45, 55, 47, 68]
percentage2=percent(marks2)
print(percentage1,percentage2)

55.00000000000001 53.75

In [6]:
#syntex of a function
#  def function():
#          print("hello")
def greet(name):
    print("good day, "+ name)
greet("harry")

good day, harry

In [8]:
#types of functions
# built-in functions and user defined functions
def mysum(num1,num2):
    return num1+num2
s=mysum(5,36)
print(s)

41

In [10]:
#Default parameter value
def greet(name="stranger"):
    print("good day, "+ name)
greet("harry")
greet()

good day, harry
good day, stranger

In [13]:
#recursion-recursion is a function which calls itself
# it is used to directly use a mathematical formula as a function
#    Ex-     factorial(n)=n*factorial(n-1)

# n=2
# product=1
# for i in range(n):
#     product=product*(i+1)
# print(product)

2

In [2]:
# n!=factorial(n-1)*n
# n!=n*(n-1)!


#ierative factorial method

# def factorial_iter(n):
#     product=1
#     for i in range(n):
#         product=product*(i+1)
#     return product

def factorial_recursive(n):
    if n==1 or n==0:
        return 1
    else:
        return n*factorial_recursive(n-1)
f=factorial_recursive(7)
# f=factorial_iter(6)
print(f)

5040

In [26]:
def factorial_recursive(n):
    if n==1 or n==0:
        return 1
    else:
        return n*factorial_recursive(n-1)
f=int(input("enter the num :"))
print(factorial_recursive(f))

enter the num :7
5040

In [32]:
#practice set functions and recursion
# write a program to find the gratest no out of three numbers

def greatest(num1,num2,num3):
    if num1>num2:
        if num1>num3:
            return num1
        else:
            return num3
    else:
    
        if num2>num3:
            return num2
        else:
            return num3

m=greatest(2,3,25)
print("the gratest value is "+ str(m))

the gratest value is 25

In [9]:
#celcius to farnehight conversion:
def farh(cel):
    return (cel*(9/5)) + 32
c=35
f=farh(c)
print(f)

95.0

In [41]:
#how do you prevent python print()function to print a new line at the end


print("hello",end=" ")
print("how",end=" ")
print("are",end=" ")
print("you.",end=" ")

hello how are you.

In [4]:
#sum of n natural numbers using recursion function
def sum_recursive(n):
    if n==0:
        return 0
    else:
        return n+sum_recursive(n-1)
s=sum_recursive(100)
print(s)

5050

In [8]:
#sum of n natural numbers using recursion function given by user
def sum_recursive(n):
    if n==0:
        return 0
    else:
        return n+sum_recursive(n-1)
s=int(input("Enter a number: "))
print(f"Sum of the first {s} natural numbers is {sum_recursive(s)}")
# s=sum_recursive(100)
# print(s)

Enter a number: 10
Sum of the first 10 natural numbers is 55

In [10]:
#pattern printing
n=3
for i in range(n):
    print("*"*(n-i)) #prints star n-i times

***
**
*

In [12]:
#inches by centimeter
def inch_cm(inch):
    return inch*2.54
s=25
f=inch_cm(s)
print(f"conversion of {s} inch to cm is {f}")

conversion of 25 inch to cm is 63.5

In [13]:
#string stripping
this= "        harry is good boy.       "
print(this)
print(this.strip())

        harry is good boy.
harry is good boy.

In [16]:
def remove_and_split(string,word):
    newstr=string.replace(word, " ")
    return newstr.strip()
    
this= "        harry is good boy.       "
n=remove_and_split(this,"harry")
print(n)

is good boy.

In [25]:
n=int(input("Enter the number: "))
for i in range (1,11):
    print(f"{n}X{i}={n*i}")

Enter the number: 5
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
5X10=50

In [2]:
#file I/O-
#opening a file
#open finction is a built in function
#  syntex---   open("this.txt", "r")
#open-built in function , "this.txt"--file name, "r"--mode of opening(read mode)
# program
#use open function to read the content of a file.
#f=open('sample.txt','r')
f=open('sample.txt','r') #if u r not specify the mode it will bydefault take read mode
data=f.read()
print(data)
f.close() #close the file it is mendatory.

vikrant is a good boy. he is having some setbacks in his life.
but he will overcome everything. He can do it. He is a fighter.

In [1]:
f=open('sample.txt') #if u r not specify the mode it will bydefault take read mode
data=f.read(10) #first 10 character read from the file
print(data)
f.close() #close the file it is mendatory.
#cannot use f.read() function more then one time in a function for same file

vikrant is

In [3]:
# f.readline() function

f=open('sample.txt')
data=f.readline() #real first line
print(data)
data=f.readline()  #read 2nd line
print(data)
f.close() 
#gap between two lines is because of a new line(\n) character

vikrant is a good boy. he is having some setbacks in his life.

but he will overcome everything. He can do it. He is a fighter.

modes of opening a file:
    r--open for reading
    w--open for writing
    a--open for appending
    +--open for updating
    rb--open for read in binary mode
    rt--open for read in text mode

In [21]:
#open file in append mode
f=open('another.txt','a')
f.write("I am appending.")
f.close()

In [26]:
f=open("another.txt")
data=f.read()
print(data)
f.close()

I am appending.I am appending.I am appending.I am appending.I am appending.Vikrant is a good boy.

In [19]:
#writing files in python
#f.write()
f=open('another.txt','w')
f.write("I am appending.")
f.close()

In [23]:
#writing files in python
#f.write()
f=open('another.txt','w')
f.write("I am appending.") #write function can be called multiple times.
f.write("I am appending.")
f.write("I am appending.")
f.write("I am appending.")
f.write("I am appending.")
f.close()

In [25]:
f=open('another.txt','a')
f.write("Vikrant is a good boy.")
f.close()

In [27]:
f=f=open('another.txt','r')
data=f.read()
print(data)
f.close()

I am appending.I am appending.I am appending.I am appending.I am appending.Vikrant is a good boy.

#with statement
#   context manager
#     with open('another.txt','r') as f:
#                      a=f.raed()
#                      print(a)

In [18]:
with open('another.txt','r') as f:
    a=f.read()
    print(a)

I am appending.I am appending.I am appending.I am appending.I am appending.Vikrant is a good boy.

In [24]:
with open('another.txt','r') as f:
    a=f.read()
    print(a)
with open('another.txt','a') as f:
    a=f.write("vikrant is having a tough time.")

vikrant is having a tough time.vikrant is having a tough time.vikrant is having a tough time.

In [25]:
#practice set
f=open('poems.txt')
a=f.read()
if 'twinkle' in a:
    print("twinkle is present in the file.")
else:
    print("twinkle is not present in the file.")

f.close()

twinkle is present in the file.

In [12]:
def game():
    return 554


score=game()
with open('highscore.txt','r') as f:
    a=f.read()
if a=='':
    with open('highscore.txt','w') as f:
        f.write(str(score))
elif int(a) < score:
    with open('highscore.txt','w') as f:
        f.write(str(score))

In [13]:
#tables
i=2
for i in range(2, 21):
    
    f=open('multiplication.txt','a')
    f.write(f"multiplication_table_of_{i}\n ")
    
#     with open(f"tables/multiplication_table_of_{i}", 'w') as f:
    for j in range(1,11):
            f.write(f"{i}X{j}={i*j}\n  ")

In [27]:
#tables
for i in range(2, 21):
    with open(f"tables\Multiplications_table_of_{i}.txt", 'w') as f:
        for j in range(1,11):        
            f.write(f"{i}X{j}={i*j}")
            if j!=10:
                f.write('\n')

In [28]:
#if unwanted character are present in the file
with open("another.txt") as f:
    content=f.read()
    
content=content.replace("donkey","######")
with open("another.txt",'w') as f:
    content=f.write(content)

In [10]:
#if list is given for sensored words

words=['don','donkey','dude','mc','bc']

with open("another.txt") as f:
    content=f.read()

for word in words:
    content=content.replace(word,"######")
with open("another.txt",'w') as f:
    content=f.write(content)

In [34]:
#log file 
with open('log.txt') as f:
    content=f.read()
if 'python' in content.lower():
    print('yes python is present.')
else:
    print('python is not present.')

yes python is present.

In [43]:
#find line no in log file where content is present
content=True
i=1
with open('log.txt') as f:
    while content:
        content=f.readline()
        
        if 'python' in content.lower():
            
            print(f'yes python is present on line no {i}.')
            print(content)
            
        i+=1

yes python is present on line no 37.
03/22 08:51:06 TRACE  :..entity_initialize: interface 9.37.65.139, entity for rsvp allocated and Python

yes python is present on line no 42.
03/22 08:51:06 WARNING:.....mailslot_create: setsockopt(MCAST_ADD) failed - EDC8116I Address not available.Python has stopped working.

In [44]:
with open('this.txt') as f:
    content=f.read()
with open('copy.txt','w') as f:
    f.write(content)

In [46]:
# write a program whether a file is identical and matches the content with another file.
with open('this.txt') as f:
    content=f.read()
with open('copy.txt')as f:
    content1=f.read()
if content1==content:
    print('both files are itentical & content matches')
else:
    print('files are not identical.')

files are not identical.

In [47]:
#wipe of content from the file

with open('copy.txt','w') as f:
    f.write("  ")

In [50]:
#rename a file like new name is rename_by_python.txt
import os

oldname="name.txt"
newname="rename_by_python.txt"
with open(oldname) as f:
    content=f.read()
    
with open(newname,'w') as f:
    f.write(content)
    
os.remove(oldname)