In [2]:
print("Hello World")

Hello World

In [3]:
Print("Hello World")

NameError: name 'Print' is not defined

In [3]:
print("Hello World")

Hello World

In [6]:
#variables
name="vikrant"
age=22
print(name)
print(age)

vikrant
22

In [7]:
#variables
name="vikrant"
age=22
print(name)
print(age)
name="naman"
age=34
print(name)
print(age)

vikrant
22
naman
34

In [8]:
type(name)

str

In [9]:
type(age)

int

In [13]:
first_name="Tony"
last_name="Stark"
Age=51
d="Tony is a genius"
print(first_name+" "+last_name)
print(age)
print(d)

Tony Stark
34
Tony is a genius

In [17]:
#taking input from users
name=input("what is your name?")
print("Hello " +name) #concatenation

what is your name?vikrant
Hello vikrant

In [18]:
Question=input("what is your superhero name tony?")
print(Question)

what is your superhero name tony?cm
cm

In [19]:
#type conversion
old_age=input("enter your old age:")
new_age=old_age+2
print(new_age)

enter your old age:22

TypeError: can only concatenate str (not "int") to str

In [22]:
#type conversion
old_age=input("enter your old age:")

new_age=int(old_age)+2
print(new_age)

enter your old age:22
24

In [23]:
first=input("enter first number:")
second=input("enter second number:")
sum=first+second
print(sum) # bcoz both are string thts y here concatination happens

enter first number:2
enter second number:3
23

In [26]:
first=input("enter first number:")
second=input("enter second number:")
sum=int(first)+int(second)
print("The sum is "+str(sum))

enter first number:2
enter second number:3
The sum is 5

In [34]:
#string
name="tony stark"
print(name.upper()) #it will give new string .it dose not changes old string
print(name)
print(name.lower())
print(name.find('s'))#it will give the characters first occurence place. if not find returns -1.

print(name.replace("tony stark","iron man")) # but it will not change the original string
print(name.replace("stark","iron man"))
print(name)

TONY STARK
tony stark
tony stark
5
iron man
tony iron man
tony stark

In [5]:
#keywords
name="tony stark"
print("t" in name) #output is boolean
print("p" in name)
print("stark" in name)

True
False
True

In [12]:
#operators
print(5+2)
print(5-2)
print(5*2)
print(5/2)
print(5//2)#remove decimal part
print(5%2)# modular-remainder operator
print(5**2) #power operator

7
3
10
2.5
2
1
25

In [17]:
i=5 #i=i+2
i+=2
print(i)
i-=2 # i=i-2
print(i)

7
5

In [22]:
#operator precedence
result=2+3*5
print(result)
result=(2+3)*5
print(result)

17
25

In [27]:
#comaprison operators
print(3>2) #result in boolean
print(3<=2)
print(3==2)
print(3==2)
print(3!=2)

True
False
False
False
True

In [30]:
#logical operators
#OR opertors
print(2>3 or 2>1)
#and operator
print(2>3 and 2>1)
#not operator
print(not 2>3)

True
False
True

In [5]:
#if else statements
age=int(input("Enter your age:"))
if age>=18:
    print("You are an adult.") #space is indentation
    print("You can vote.")
elif age<18 and age>3:
    print("you are in school.")
    
else:
    print("you r a child.")
    
print("Thank You")

Enter your age:12
you are in school.
Thank You

In [41]:
#lets build a calculator
first=input("enter first number:")
operator=input("enter operator(+,-,*,/,%):")
second=input("enter second number:")

first=int(first)
second=int(second)
if operator=="+":
    print(first+second)
elif operator=="-":
    print(first-second)
elif operator=="*":
    print(first*second)
elif operator=="/":
    print(first/second)
elif operator=="%":
    print(first%second)
else:
    print("invalid operations")
    
print("Thank You")

enter first number:2
enter operator(+,-,*,/,%):*
enter second number:2
4
Thank You

In [43]:
first=input("enter first number:")
operator=input("enter operator(+,-,*,/,%):")
second=input("enter second number:")

first=int(first)
second=int(second)
if operator=="+":
    print(first+second)
if operator=="-":
    print(first-second)
if operator=="*":
    print(first*second)
if operator=="/":
    print(first/second)
if operator=="%":
    print(first%second)
else:
    print("invalid operations")
    
print("Thank You")

enter first number:2
enter operator(+,-,*,/,%):*
enter second number:3
6
invalid operations
Thank You

In [46]:
#range
number=range(5) #0,1,2,3,5
print(number)

range(0, 5)

In [47]:
#loop
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)

1
2
3
4
5
6

In [50]:
#while loop-jab tak
i=1
while i<=5:
    print(i)
    i=i+1

1
2
3
4
5

In [54]:
#while loop-jab tak
i=1
while i<=5:
    print(i*"*")# string num with multiply
    i=i+1

*
**
***
****
*****

In [55]:
#while loop-jab tak
i=5
while i>=0:
    print(i*"*")# string num with multiply
    i=i-1

*****
****
***
**
*

In [58]:
#for loop-used for iteration on list 
range(5)
for i in range(5):
    print(i+1)

1
2
3
4
5

In [68]:
#list-collection of items
marks=[95,67,78]
print(marks)
print(type(marks))
print(marks[2])
print(marks[-1])
print(marks[0:2])#2 will not include
for score in marks:
    print(score)

[95, 67, 78]
<class 'list'>
78
78
[95, 67]
95
67
78

In [6]:
marks=[95,67,78]
#append operation
marks.append(99) #marks append on last place
print(marks)
marks.insert(0,99)
marks.insert(3,77)
print(marks)
print(99 in marks)
print(93 in marks)
print(len(marks))

[95, 67, 78, 99]
[99, 95, 67, 77, 78, 99]
True
False
6

In [76]:
i=0
while i<len(marks):
    print(marks[i])
    i=i+1
marks.clear()
print(marks)

99
95
67
78
99
[]

In [7]:
#break and continue
students=["ram","shyam","kishan","radha"]
for student in students:
    if student=="radha":
        break;
    print(student)

ram
shyam
kishan

In [83]:
#continue
#break and continue
students=["ram","shyam","kishan","radha"]
for student in students:
    if student=="kishan":
        continue;
    print(student)

ram
shyam
radha

In [84]:
#tuple-like list but immutable
marks=(89,87,98)
marks[0]=99

TypeError: 'tuple' object does not support item assignment

In [90]:
marks=(89,87,98,97,89,97) #paranthesis is not important bydefault it is tuple

print(marks.count(97))
print(marks.count(89))
print(marks.index(97))
marks=89,87,98,97,89,97
print(marks)
print(type(marks))

2
2
3
(89, 87, 98, 97, 89, 97)
<class 'tuple'>

In [8]:
#sets-unique elements
marks={2,3,4,5,6,7,2,2,2,2}
print(marks) #sequence is not unique-index does not exist in sets
#sets are unordered
for score in marks:
    print(score)

{2, 3, 4, 5, 6, 7}
2
3
4
5
6
7

In [9]:
#dictonary-key value pair 
marks={"english": 95,"chemistery": 93}
print(marks["chemistery"])
marks["physics"]=97;
print(marks)

marks["physics"]=99;
print(marks)

93
{'english': 95, 'chemistery': 93, 'physics': 97}
{'english': 95, 'chemistery': 93, 'physics': 99}

In [99]:
#functions-
#in-build functions-int(),str(),bool()
#module functions-example-math module
import math
print(dir(math))
#user defined functions
from math import sqrt
print(sqrt(49))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']
7.0

In [101]:
#user defined functions
/// def function_name(parameters):
     do something///

SyntaxError: invalid syntax (3347600815.py, line 2)

In [102]:
def print_sum(first,second):
    print(first+second)

print_sum(1,2)

3

In [103]:
def print_sum(first,second=4):
    print(first+second)

print_sum(1)

5