# Map
  --the map() is a function that takes in 2 arguments
  1. function
  2. iterables
 * Syntax: 
         map(function,sequence)

In [3]:
num=[2,3,4,5,6,7,8,9,12,23,34,45,56]
def even_odd(a):
    even= [i for i in a if i%2==0]
    odd= [i for i in num if i%2!=0]
    return even,odd
print(even_odd(num))
print(type(even_odd(num)))

([2, 4, 6, 8, 12, 34, 56], [3, 5, 7, 9, 23, 45])
<class 'tuple'>

In [1]:
lst=[2,3,4,5,6,7,8,9,12,23,34,45,56] 
''' we can pass this list to the 
function with elements of the list one by one'''
# num=12546
def even_odd(a):
#     even=[]
    if a%2==0:
        return 'even'
    else:
        return 'odd'
# even_odd(num)
list(map(even_odd,lst))

['even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even']

In [7]:
temp_cel=[23,34,35,56,78,68]
def temp_converter(T):
    return [((9/5)*T)+32 for T in temp_cel]
temp_far= temp_converter(temp_cel)
print(temp_far)

[73.4, 93.2, 95.0, 132.8, 172.4, 154.4]

In [2]:
temp_cel=[23,34,35,56,78,68]
def temp_converter(T):
    return [((9/5)*T)+32 for T in temp_cel]

In [3]:
temp_far=temp_converter(temp_cel)
temp_far

[73.4, 93.2, 95.0, 132.8, 172.4, 154.4]

In [14]:
temp_cel=[23,34,35,56,78,68]
def temp_converter(T):
    return ((9/5)*T)+32

In [15]:
temp_far=list(map(temp_converter,temp_cel))
temp_far

[73.4, 93.2, 95.0, 132.8, 172.4, 154.4]

In [18]:
temp_cel=[23,34,35,56,78,68]
temp= (lambda temp_far: [((9/5)*T)+32 for T in temp_cel])(temp_cel)
print(temp)

[73.4, 93.2, 95.0, 132.8, 172.4, 154.4]

In [19]:
temp_cel=[23,34,35,56,78,68]
temp= (lambda temp_far: [((9/5)*T)+32 for T in temp_cel])(temp_cel)
print(temp)

[73.4, 93.2, 95.0, 132.8, 172.4, 154.4]

In [10]:
temp_cel=[23,34,35,56,78,68]

temp= (lambda x: [((9/5)*T)+32 for T in temp_cel])(temp_cel)
print(temp)

[73.4, 93.2, 95.0, 132.8, 172.4, 154.4]

In [12]:
temp_cel=[23,34,35,56,78,68]
T=30
temp= (lambda x: ((9/5)*T)+32)(T)
print(temp)

86.0

In [30]:
temp_cel=[23,34,35,56,78,68]
temp_far=list(map(lambda x: ((9/5)*x)+32, temp_cel))
temp_far

[73.4, 93.2, 95.0, 132.8, 172.4, 154.4]

In [32]:
a=[1,2,3,4,5]
b=[2,3,4,5,5]

sum= list(map(lambda x,y:x+y, a,b))
sum

[3, 5, 7, 9, 10]

In [18]:
#saparate out user names

lst=['vikranty622@gmail.com','vikranty623@gmail.com',
    'vikranty62@gmail.com','vikranty624@gmail.com',
    'vikranty6232@gmail.com','vikranty625@gmail.com',
    'vikranty6244@gmail.com','vikranty626@gmail.com',
    'vikranty6245@gmail.com','vikranty627@gmail.com',
    'vikranty6223@gmail.com','vikranty628@gmail.com',
    'vikranty6225@gmail.com','vikranty629@gmail.com']
u='vikranty622@gmail.com'
# username= (lambda x:x[:-10:])(u)
# username
username=list(map(lambda x:x[0:-10],lst))
print(username)

['vikranty622', 'vikranty623', 'vikranty62', 'vikranty624', 'vikranty6232', 'vikranty625', 'vikranty6244', 'vikranty626', 'vikranty6245', 'vikranty627', 'vikranty6223', 'vikranty628', 'vikranty6225', 'vikranty629']

In [48]:
lst=['vikranty622@gmail.com','vikranty623@gmail.com',
    'vikranty62@gmail.com','vikranty624@gmail.com',
    'vikranty6232@gmail.com','vikranty625@gmail.com',
    'vikranty6244@gmail.com','vikranty626@gmail.com',
    'vikranty6245@gmail.com','vikranty627@gmail.com',
    'vikranty6223@gmail.com','vikranty628@gmail.com',
    'vikranty6225@gmail.com','vikranty629@gmail.com']
username=list(map(lambda x:x[:-10:],lst))
print(username)

['vikranty622', 'vikranty623', 'vikranty62', 'vikranty624', 'vikranty6232', 'vikranty625', 'vikranty6244', 'vikranty626', 'vikranty6245', 'vikranty627', 'vikranty6223', 'vikranty628', 'vikranty6225', 'vikranty629']

In [5]:
lst=['vikranty622@gmail.com','vikranty623@gmail.com',
    'vikranty62@gmail.com','vikranty624@gmail.com',
    'vikranty6232@gmail.com','vikranty625@gmail.com',
    'vikranty6244@gmail.com','vikranty626@gmail.com',
    'vikranty6245@gmail.com','vikranty627@gmail.com',
    'vikranty6223@gmail.com','vikranty628@gmail.com',
    'vikranty6225@gmail.com','vikranty629@gmail.com']
username=list(map(lambda x:x.split('@')[0],lst))
print(username)

['vikranty622', 'vikranty623', 'vikranty62', 'vikranty624', 'vikranty6232', 'vikranty625', 'vikranty6244', 'vikranty626', 'vikranty6245', 'vikranty627', 'vikranty6223', 'vikranty628', 'vikranty6225', 'vikranty629']

# Reduce

* function name
* iterables

* aggregate, some of the data(minimum of the data,maximum of the data, avg of the data etc)

In [20]:
from functools import reduce
#sum
lst=[2,3,4,5,6,7,89,45]
reduce( lambda a,b:a+b , lst)

161

In [21]:
from functools import reduce
#average
lst=[2,3,4,5,6,7,89,45]
(reduce( lambda a,b:a+b , lst))/len(lst)

20.125

In [22]:

#class mark
lst=[2,3,4,5,6,7,89,45]
reduce( lambda a,b:(a+b)/2 , lst)

46.2578125

In [23]:
#minimum value
lst=[2,3,4,5,6,7,89,45]
reduce( lambda a,b:a<b , lst)

True

In [11]:
#minimum value
lst=[2,3,4,5,6,7,89,45]
reduce( lambda a,b: a if a<b else b , lst)

2

In [12]:
#maximum value
lst=[2,3,4,5,6,7,89,45]
reduce( lambda a,b: a if a>b else b , lst)

89

In [15]:
#maximum value
lst=[2,3,4,5,6,7,89,45]
reduce( lambda a,b: a if a>b else b , lst)

89

# Filter
* function
* iterables
 1. the filter function needs a function as a first argument
 2. then the function should return a boolean value( True False)
 3. then if filter is used there is no need of map
 4. only true elements will be caught.

In [16]:
lst=[2,3,4,5,6,7,8,9,12,23,34,45,56] 
''' we can pass this list to the 
function with elements of the list one by one'''
# num=12546
def even_odd(a):
    even=[]
    if a%2==0:
        return 'even'
    else:
        return 'odd'
# even_odd(num)
list(map(even_odd,lst))

['even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even']

In [25]:
lst=['vikranty622@gmail.com','vikranty623@gmail.com',
    'vikranty62@gmail.com','vikranty624@gmail.com',
    'vikranty6232@gmail.com','vikranty625@hotmail.com',
    'vikranty6244@gmail.com','vikranty626@gmail.com',
    'vikranty6245@hotmail.com','vikranty627@gmail.com',
    'vikranty6223@gmail.com','vikranty628@hotmail.com',
    'vikranty6225@hotmail.com','vikranty629@gmail.com']
def only_gmail(a):
    if 'gmail.com' in a:
        return True
    else:
        return False
list(filter(only_gmail,lst))
# username=list(map(lambda x:x.split('@')[0],lst))
# print(username)

['vikranty622@gmail.com',
 'vikranty623@gmail.com',
 'vikranty62@gmail.com',
 'vikranty624@gmail.com',
 'vikranty6232@gmail.com',
 'vikranty6244@gmail.com',
 'vikranty626@gmail.com',
 'vikranty627@gmail.com',
 'vikranty6223@gmail.com',
 'vikranty629@gmail.com']

In [18]:
lst =[2,3,4,5,6,7,8]
num=23456
def odd_even(a):
    if a%2==0:
        return True
    else:
        return False
    
odd_even(num)

True

In [20]:
list(filter(odd_even , lst)) #only the even no got filtered

[2, 4, 6, 8]

In [22]:
lst=['vikranty622@gmail.com','vikranty623@gmail.com',
    'vikranty62@gmail.com','vikranty624@gmail.com',
    'vikranty6232@gmail.com','vikranty625@hotmail.com',
    'vikranty6244@gmail.com','vikranty626@gmail.com',
    'vikranty6245@hotmail.com','vikranty627@gmail.com',
    'vikranty6223@gmail.com','vikranty628@hotmail.com',
    'vikranty6225@hotmail.com','vikranty629@gmail.com']
def only_gmail(a):
    if 'hotmail.com' in a:
        return True
    else:
        return False
list(filter(only_gmail,lst))
# username=list(map(lambda x:x.split('@')[0],lst))
# print(username)

['vikranty625@hotmail.com',
 'vikranty6245@hotmail.com',
 'vikranty628@hotmail.com',
 'vikranty6225@hotmail.com']

In [23]:
lst=['vikranty622@gmail.com','vikranty623@gmail.com',
    'vikranty62@gmail.com','vikranty624@gmail.com',
    'vikranty6232@gmail.com','vikranty625@hotmail.com',
    'vikranty6244@gmail.com','vikranty626@gmail.com',
    'vikranty6245@hotmail.com','vikranty627@gmail.com',
    'vikranty6223@gmail.com','vikranty628@hotmail.com',
    'vikranty6225@hotmail.com','vikranty629@gmail.com']
# def only_gmail(a):
#     if 'hotmail.com' in a:
#         return True
#     else:
#         return False
list(filter(lambda x: "gmail.com" in x, lst))

['vikranty622@gmail.com',
 'vikranty623@gmail.com',
 'vikranty62@gmail.com',
 'vikranty624@gmail.com',
 'vikranty6232@gmail.com',
 'vikranty6244@gmail.com',
 'vikranty626@gmail.com',
 'vikranty627@gmail.com',
 'vikranty6223@gmail.com',
 'vikranty629@gmail.com']

In [24]:
lst=['vikranty622@gmail.com','vikranty623@gmail.com',
    'vikranty62@gmail.com','vikranty624@gmail.com',
    'vikranty6232@gmail.com','vikranty625@hotmail.com',
    'vikranty6244@gmail.com','vikranty626@gmail.com',
    'vikranty6245@hotmail.com','vikranty627@gmail.com',
    'vikranty6223@gmail.com','vikranty628@hotmail.com',
    'vikranty6225@hotmail.com','vikranty629@gmail.com']
# def only_gmail(a):
#     if 'hotmail.com' in a:
#         return True
#     else:
#         return False
list(filter(lambda x: "hotmail.com" in x, lst))

['vikranty625@hotmail.com',
 'vikranty6245@hotmail.com',
 'vikranty628@hotmail.com',
 'vikranty6225@hotmail.com']

# Iterators
* iterables 
1. list, tuple, string, dict

* Ques: When to say the object is iteralbe 
    1. len( function should work)
    2. directory     ---- dir() __iter__  ---should be there

In [25]:
a=[1,2,3,4,5,6,7]
for i in a:
    print(i)

1
2
3
4
5
6
7

In [30]:
lst= [2,3,4,5,6,7,8]

# list is getting converted to an iter

my_iter=iter(lst)  # background of the list
print(type(my_iter))


# every iterator object have a next function

print(next(my_iter))
print(next(my_iter))
print(next(my_iter))
print(next(my_iter))
print(next(my_iter))
print(next(my_iter))
# print(next(my_iter))
print(next(my_iter))

<class 'list_iterator'>
2
3
4
5
6
7
8

In [39]:
lst_1=['a','b','c']
iter_1=iter(lst_1)
print(next(iter_1))
print(next(iter_1))
print(next(iter_1))

a
b
c

In [51]:
lst_1=['a','b','c']
iter_1=iter(lst_1)
print(next(iter_1))
try:
    print(next(iter_1))
except:
    pass

a
b

In [ ]:
# Module